
/* Caja principal */
.containerCanales, .containerh2 {
    background: rgb(203,216,255);
    background: linear-gradient(90deg, rgba(203,216,255,1) 0%, rgba(235,244,246,1) 100%);
    display: flex;
    flex-direction: row; /* la dirección de las cajas en este por defecto horizontal  */
    flex-wrap: wrap; /* para posicionar las cajas ajustandose al tamaño de la pantalla  */
    justify-content: space-around; /*para centrar las cajas */
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(128,126,128,1);
    -moz-box-shadow: 3px 4px 5px 0px rgba(128,126,128,1);
    box-shadow: 3px 4px 5px 0px rgba(128,126,128,1);
}

.tv-box {
    box-sizing: border-box;
    width: 180px;
    height: 200px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-weight: bolder;
    margin-top: 20px;
}

  
.tv-box button {
    font-size: 16px;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #37B7C3 0%, #088395 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 7px 50px;
    border-radius: 0.3em;
    color: #fff;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
  }
  
.tv-box button:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #036270;
    transform: translateY(-0.1em);
}
  
.tv-box button:active {
    box-shadow: inset 0px 0.1em 0.6em #036270;
    transform: translateY(0em);
}

/* Estilos para el encabezado */
.tv-box h3 {
    padding: 7px 40px;
    font-size: 16px;
    background-color: #c0bfbfdc;
    border-radius: 5px;
    box-sizing: border-box;
}


.tv-box img {
    width: 64px;
}

.containerh2{
    padding-bottom: 5px;
}