* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: rgb(16,67,159);
    background: linear-gradient(90deg, rgba(16,67,159,1) 0%, rgba(135,76,204,1) 48%, rgba(198,91,207,1) 100%);
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top:10px;
    background-color: #07195290;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid #EBF4F6;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.content-logo {
    display: flex;
    align-items: center;
}

.logo {
    max-height: 50px;
    margin-right: 10px; 
    filter: drop-shadow(0 0 10px rgb(235, 244, 246));
}

.titulo {
    flex-grow: 1; 
    font-size: 8vh; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
    color: #EBF4F6;
    text-shadow: 4px 3px 3px rgb(85, 85, 85);
}

.contador {
    max-height: 40px; 
    margin-top:7%;
}

.videoContainer {
    max-width: 80%; 
    height: 70vh; 
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    padding-bottom: 10px;
    box-sizing: border-box;
    transition: border 0.3s ease; /* Transición suave para el borde */
}

/* Regla para el borde azul cuando se pasa el mouse por encima */
.videoContainer:hover {
    border: 5px solid blue; /* Borde azul */
}

#myVideo {
    width: 100%;
    height: 102%;
}

.tituloh2 {
    flex-grow: 0; 
    font-size: 5vh; 
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
    color: #071952;
    text-shadow: 4px 3px 3px rgb(85, 85, 85);
}

footer {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
    color: #999;
    font-size: 12px;
}


@media all and (max-width:760px){
    .header-container {
        padding: 10px;
    }
    
    .logo {
        max-height: 40px;
    }
    
    .titulo {
        font-size: 6vh; 
    }

    .contador {
        max-height: 30px; 
    }
    

    .videoContainer{
        height: 60vh;
    }
    
    .tituloh2 {
        font-size: 4vh; 
    }
    
}


@media all and (max-width:480px){

    .logo {
        max-height: 30px;
    }
    
    .titulo {
        font-size: 4vh; 
    }

    .contador {
        max-height: 25px; 
    }
    

    .videoContainer{
        height: 50vh;
    }
    
    .tituloh2 {
        font-size: 3vh; 
    }
  
}


@media all and (max-width:312px){

    .logo {
        max-height: 20px;
    }
    
    .titulo {
        font-size: 3vh; 
    }

    .contador {
        max-height: 20px; 
    }
    
    .tituloh2 {
        font-size: 2vh; 
    }
}
